<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button 
            icon="pi pi-bars" 
            styleClass="p-button-secondary p-button-text" 
            (click)="sidebarVisible = true">
        </p-button>
        <span class="toolbar-title">Sistema de Gestão</span>
    </div>

    <div class="p-toolbar-group-right">
        
        <div class="toolbar-user-info">
            <i class="pi pi-user"></i>
            <span>{{ nomeUsuario }}</span>
        </div>

        <p-button 
            label="Sair" 
            icon="pi pi-sign-out" 
            styleClass="p-button-danger p-button-text"
            (click)="logout()">
        </p-button>
    </div>
</p-toolbar>

<p-sidebar [(visible)]="sidebarVisible" [showCloseIcon]="true">
    <h3>Menu</h3>
    <p-menu [model]="menuItems"></p-menu>
</p-sidebar>

<div class="main-content">
    <router-outlet></router-outlet>
</div>