.toolbar-user-info {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  font-weight: 500;
}

.toolbar-user-info i {
  margin-right: 0.5rem;
}

@media (max-width: 600px) {
  .toolbar-user-info span {
    display: none;
  }
  .toolbar-user-info {
    margin-right: 0.5rem;
  }
}