<div class="login-container p-fluid grid flex align-items-center justify-content-center">
    <div class="col-12 md:col-6 lg:col-3">

        <p-card header="Sistema de Gestão" subheader="Acesse sua conta">
            
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                
                <div class="field">
                    <label for="email">E-mail</label>
                    <input pInputText 
                           id="email" 
                           formControlName="email" 
                           class="w-full" />
                </div>

                <div class="field">
                    <label for="senha">Senha</label>
                    <p-password id="senha" 
                                formControlName="senha" 
                                [feedback]="false" 
                                [toggleMask]="true"
                                styleClass="w-full">
                    </p-password>
                </div>

                <p-button label="Entrar" 
                          type="submit" 
                          styleClass="w-full"
                          [disabled]="loginForm.invalid"
                          [loading]="loading">
                </p-button>

            </form>
        </p-card>
    </div>
</div>